<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.devgeeks.Canvas2ImagePlugin"
    version="0.2.0">

    <name>Canvas 2 Image</name>

    <js-module src="www/Canvas2ImagePlugin.js" name="Canvas2ImagePlugin">
        <clobbers target="window.canvas2ImagePlugin" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Canvas2ImagePlugin">
                <param name="ios-package" value="Canvas2ImagePlugin"/>
            </feature>
        </config-file>

        <header-file src="src/ios/Canvas2ImagePlugin.h" />

        <source-file src="src/ios/Canvas2ImagePlugin.m" />
    </platform>

</plugin>
